

button {
	height: 30px;
	width: 80px;
	background-color: aqua;
	margin-right: 15px;
	margin-top: 15px;
	margin-left: 10px;
}

.add-button-form {
	margin-left: 10px;
}

.my-imgs {
	height: 250px;
	width: 250px;
	float: right;
}

#gifs {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 35px;
	margin-top: 15px;
}

.rating {
	width: 20px;
	height: 20px;
	background-color: red;
	color: black;
	/*margin-bottom: -40px;*/
	margin-left: 5px;
	text-align: center;
}

#button-text {
	height: 25px;
	width: 150px;
}